html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + .modal-radio,
[type="radio"]:not(:checked) + .modal-radio
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + .modal-radio:before,
[type="radio"]:not(:checked) + .modal-radio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + .modal-radio:after,
[type="radio"]:not(:checked) + .modal-radio:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + .modal-radio:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + .modal-radio:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}




#fileupload-exfile{
    display: inline-block;
}



























.item-hints{
    /*height: 500px;*/
    /*width: 500px;*/
    margin: auto;
    position: fixed;
    top: 45%;
    left: 100px;
    z-index: 2;
}
.item-hints .hint {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-hints .hint::before{ /* //rotated squre */
    background-color: #000;
    width: 8px;
    height: 8px;
    z-index: 2;
    -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.item-hints .hint::after{ /* //green glow */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 2px;
    height: 2px;
    z-index: 1;
    -webkit-box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
    box-shadow: 0 0 50px 30px rgba(72,170,72,.3);
    -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
    animation: home_hero_item_hints_glow 2s cubic-bezier(.25,.1,.2,1) infinite;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
@-webkit-keyframes home_hero_item_hints_glow {
    0% {
        -webkit-box-shadow: 0 0 30px 5px #48aa48;
        box-shadow: 0 0 30px 5px #48aa48
    }
    70% {
        -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
        box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
        box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
}
@keyframes home_hero_item_hints_glow {
    0% {
        -webkit-box-shadow: 0 0 30px 5px #48aa48;
        box-shadow: 0 0 30px 5px #48aa48
    }
    70% {
        -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
        box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
        box-shadow: 0 0 0 50px rgba(72, 170, 72, 0)
    }
}
.item-hints .hint-dot {
    z-index: 3;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    -webkit-transform: translate(-0%,-0%) scale(.95);
    transform: translate(-0%,-0%) scale(.95);
    -webkit-animation: home_hero_item_hints_border 2s linear infinite;
    animation: home_hero_item_hints_border 2s linear infinite;
    margin: auto;
}
@-webkit-keyframes home_hero_item_hints_border {
    0%,
    100% {
        border-color: rgba(0, 0, 0, 1);
        -webkit-transform: translate(-50%, -50%) scale(.95);
        transform: translate(-0%, -0%) scale(.95)
    }
    50% {
        border-color: rgba(0, 0, 0, .5);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-0%, -0%) scale(1)
    }
}
@keyframes home_hero_item_hints_border {
    0%,
    100% {
        border-color: rgba(0, 0, 0, 1);
        -webkit-transform: translate(-50%, -50%) scale(.95);
        transform: translate(-0%, -0%) scale(.95)
    }
    50% {
        border-color: rgba(0, 0, 0, .5);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-0%, -0%) scale(1)
    }
}
.item-hints .hint-radius {
    background-color: rgba(0,0,0,0.85);
    /*border-radius: 50%;*/
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*margin: -50vh 0 0 -50vw;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 1;
    -webkit-transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,-webkit-transform;
    transition-property: background-color,opacity,visibility,transform;
    transition-property: background-color,opacity,visibility,transform,-webkit-transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
    transition-timing-function: ease,ease,ease,cubic-bezier(.5,0,0,1);
}
.item-hints .hint:hover .hint-radius {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.item-hints .hint[data-position="1"] .hint-content {
    top: 85px;
    left: 50%;
    margin-left: 56px;
}
.item-hints .hint-content {
    color: #fff;
    width: 600px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
    font-size: 16px;
}
.item-hints .hint-content p {
    font-size: 16px;
}
.item-hints .hint:hover .hint-content {
    color: #fff;
    width: 600px;
    max-height: 350px;
    position: absolute;
    z-index: 5;
    padding: 12px 0;
    opacity: 1;
    visibility: visible !important;
    -webkit-transition: opacity .7s ease,visibility .7s ease;
    transition: opacity .7s ease,visibility .7s ease;
    pointer-events: none;
    color: #fff;
    visibility: hidden;
    pointer-events: none
}
.item-hints .hint-content::before {
    width: 0px;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #fff;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
    width: 500px;
    transition: width 0.4s;
}
.item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 0;
    left: 0;
    width: 80px;
    content: '';
    background-color: #fff;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
    bottom: 85px;
    left: 50%;
    margin-left: 56px;
}









.loader {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    /* position: relative; */
    display: none;
    background: rgba(0,0,0,0.5);
    padding: 32% 44%;
    z-index: 5;
}

.loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
    background: #f07e6e;
}

.loader span:nth-child(3) {
    background: #84cdfa;
}

.loader span:nth-child(4) {
    background: #5ad1cd;
}

.loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

.loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10px, -10px);
    }
    20% {
        transform: translate(20px, 10px);
    }
    30% {
        transform: translate(30px, -50px);
    }
    70% {
        transform: translate(-150px, -50px);
    }
    80% {
        transform: translate(-140px, 10px);
    }
    90% {
        transform: translate(-130px, -10px);
    }
    100% {
        transform: translate(-120px, 0);
    }
}